<p>setup-data works!</p>

<button class="btn btn-primary" (click)="setupData()">Setup data</button>

<h2>Accounts</h2>
<table class="table">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Data</th>
    </tr>
    <tr *ngFor="let a of accounts">
        <td><app-account-quick-view [accountId]="a.id"></app-account-quick-view></td>
        <td>{{a.name}}</td>
        <td>{{a|json}}</td>
    </tr>
</table>

<h2>Transactions</h2>
<table class="table">
    <tr>
        <th>id</th>
        <th>Date</th>
        <th>Debit Account</th>
        <th>Credit Account</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Data</th>
    </tr>
    <tr *ngFor="let t of transactions">
        <td><app-transaction-quick-view [transactionId]="t.id"></app-transaction-quick-view></td>
        <td>{{t.transactionDate | date: 'hh:mm dd/MM/yy'}}</td>
        <td>
            <app-account-quick-view [accountId]="t.debitAccountId"></app-account-quick-view>
        </td>
        <td>
            <app-account-quick-view [accountId]="t.creditAccountId"></app-account-quick-view>
        </td>
        <td>{{t.description}}</td>
        <td>{{t.amount | currency: 'GBP'}}</td>
        <td>{{t|json}}</td>
    </tr>

</table>